{% extends "base.html" %}

{% block content %}
<h3 align="center">Works Log</h3>
<a type="button" class="btn btn-secondary" href="/works">Back to Jobs</a>
<a type="button" class="btn btn-secondary" href="/adddepartment">Add a Department</a>
<table border="0" width="80%">
    {% for department in departments %}
        <tr>
            <td colspan="4"><h4>Department # {{department.id}}</h4></td>
        </tr>
        <tr bgcolor="#dddddd">
            <td>Title of department</td>
            <td>Chief</td>
            <td>Members</td>
            <td>Department Email</td>
        </tr>
        <tr bgcolor="#eeeeff">
            <td>{{department.title}}</td>
            <td>{{department.user.surname}} {{department.user.name}}</td>
            <td>{{department.members}}</td>
            <td>{{department.email}}</td>
        </tr>
        <tr>
            <td colspan="5">
                {% if current_user.id == department.chief or current_user.id == 1 %}
                    <a type="button" class="btn btn-warning" href="/editdepartment/{{department.id}}">Edit job</a>
                    <a type="button" class="btn btn-danger" href="/deldepartment/{{department.id}}">Delete job</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}