{% extends "base.html" %}

{% block content %}
    <h2>Оформление каюты</h2>
    <table width="600px">
        <tr bgcolor="lightgray">
            <td width="50%"><h3>Цвет стен</h3></td>
            <td><h3>Эмблема</h3></td>
        </tr>
        <tr>
            {% if sex == "male" %}
                {% if age < 21 %}
                    <td bgcolor="##b0c4de"></td>
                {% else %}
                    <td bgcolor="##007ff0"></td>
                {% endif %}
            {% else %}
                {% if age < 21 %}
                    <td bgcolor="#ffa07a"></td>
                {% else %}
                    <td bgcolor="#ff4500"></td>
                {% endif %}
            {% endif %}
            <td><img src="/static/img/{{ sex }}.png" width="100%"></td>
        </tr>
    </table>
{% endblock %}