{% extends "base.html" %}

{% block content %}
<h3 align="center">Works Log</h3>
<a type="button" class="btn btn-secondary" href="/addjob">Add job</a>
<a type="button" class="btn btn-secondary" href="/departments">Go to Departments</a>
<table border="0" width="80%">
    {% for work in works %}
        <tr>
            <td colspan="5"><h4>Action # {{work.id}}</h4></td>
        </tr>
        <tr bgcolor="#dddddd">
            <td>Title of activity</td>
            <td>Team leader</td>
            <td>Duration</td>
            <td>List of collaborators</td>
            <td>Is finished</td>
        </tr>
        <tr bgcolor="#eeeeff">
            <td>{{work.job}}</td>
            <td>{{work.user.surname}} {{work.user.name}}</td>
            <td>{{work.work_size}} hours</td>
            <td>{{work.collaborators}}</td>
            {% if work.is_finished %}
                <td bgcolor="#eeffee">is finished</td>
            {% else %}
                <td bgcolor="#ffeeff">is not finished</td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="5">
                {% if current_user.id == work.team_leader or current_user.id == 1 %}
                    <a type="button" class="btn btn-warning" href="/editjob/{{work.id}}">Edit job</a>
                    <a type="button" class="btn btn-danger" href="/deljob/{{work.id}}">Delete job</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}